#about-body{
    background: url("../images/about.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 1250px;
    margin-top: -21px;
}
#about-myself{
    float: left;
    margin-right: 50%;
    background-color: rgba(255, 255, 255
,0.8);
    border-radius: 20px;
}
#about-myself h1{
text-align: center;
}
#about-myself p{
text-align: center;
}
#about-myself img{
    margin: 20px;
    float: left;
 height: 300px;
}
