#txtHint{
    text-align: center;
    color: #000000;

    margin: 80px 35%;
    width: 30%;
    background-color: rgba(255,255,255,0.7);
    line-height: 40px;

}
/*#txtHint p{*/
     /*text-align: center;*/
     /*color:#000000;*/

     /*padding-top: 60px;*/
     /*background-color: red;*/


 /*}*/

input[type="text"]{

    text-align: center;

}
form{
    text-align: center;
    margin-top: 80px;


}
#search-results img{
    height: 400px;
    width: auto;
}
#search-results-p{
    border: solid #000000 5px;

}