<?php



?>

<html>

<head>
<link href="css/information.css" type="text/css" rel="stylesheet">

</head>
<body>
<div id="information-body">
<div id="information">

<h1>Information</h1>

<div id="information-p">

<p>Hier zouden hele teksten van customer inofrmation komen als ik iets officieel had.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

</div>

</div>

     </div>


</body>
</html>